.border-metal {
  border: 8px solid transparent;
  padding: 15px;
  border-image: url("../../images/cadreBouton.png") 30 round;
}

.border-button {
  border: 10px solid transparent;
  padding: 6px;
  border-image: url("../../images/contourButton.png") 30 round;
}

.border-calculator {
  border: 10px solid transparent;
  padding: 6px;
  border-image: url("../../images/border/border-calculator.png") 30 round;
}

.bracket-card {
  border: 10px solid transparent;
  padding: 6px;
  border-image: url("../../images/border/border-gold-calculator.png") 30 round;
}

.border-inner-calculator {
  border: 10px solid transparent;
  padding: 6px;
  border-image: url("../../images/border/border-calculator.png") 30 round;
}

.border-table-preset {
  border: 10px solid transparent;
  padding: 6px;
  border-image: url("../../images/border/border-table-preset-removebg-preview.png") 30 round;
}

.border-table-preset {
  border: 1px solid var(--border-table-preset);
}

.border-section {
  border: 5px solid transparent;
  padding: 0px;
  border-image: url("../../images/cadreBouton.png") 30 round;
}

.border-class-guide {
  border: 6px solid transparent;
  padding: 0px;
  border-image: url("../../images/border/border-calculator.png") 30 round;
}