:root {
  /* Main Theme */
  --wow-gold: #EEBF5F;
  --wow-gold-dark: #6A6142;
  --wow-red: #C41E3A;
  --wow-metal: #828382;
  --wow-text-main: #D7C793;
  --wow-amber: #D0A66B;
  --wow-gray: #989897;

  /* Brackets */
  --bracket-2v2: #DA6D2F;
  --bracket-3v3: #2780B2;
  --bracket-5v5: #5BBA5B;
}