.font-arialn {
  font-family: "ArialN";
}

.font-skurri {
  font-family: "Skurri";
}

.font-friz {
  font-family: "FrizQuadrata";
}

.font-morpheus {
  font-family: "Morpheus";
}

.font-cormorant {
  font-family: "Cormorant Garamond", serif;
}